<!-- <p>There are {{getLists().length}} lists</p> -->

<!--
<p>getItemsUI: {{getItemsUI() | json}}</p>
<p>getLists: {{getLists() | json}}</p>
-->

<!-- <div id = "addList">
  <section>
    <form (ngSubmit)="createList(newListName.value); newListName.value=''">
      <label>Create a new list:</label>
      <input type="text" #newListName/>
    </form>
  </section>
</div> -->


<div id = "addList">
  <section>
    <form (ngSubmit)="createList(newListName.value); newListName.value=''">
      <mat-form-field>
        <input matInput placeholder="Créer une nouvelle liste ..." #newListName>
      </mat-form-field>
    </form>
  </section>
</div>

<div id = "menu">
  <mat-list>
    <mat-list-item *ngFor="let list of getLists()" (click)="updateList(list)" >{{list.name}} </mat-list-item>
  </mat-list>
</div>


  <div id = "gauche">
    <section class="lists">
      <app-todo-list *ngIf="currentList !== undefined" [list]="currentList" [clock]="currentList ? currentList.clock : null"></app-todo-list>
    </section>
  </div>
