:host {
  padding: 0em;
  display: flex;
  flex-flow: column;
}

:host > section.root {
  flex: 1 1;
  margin: 0;
  padding: 0.25em;
}

h3 {
  display: inline-block;
  padding: 1em;
  position: relative;
  width: 50%;
}
h3:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 100%;  /* or 100px */
}

.options {
  float: left;
  padding: 1em;
  width: 100%;
}

.container{
  margin: 0;
}

section {
  margin: 1em !important;
}

mat-expansion-panel-header {
  border-bottom: 1px solid grey;
}

.btnDel {
  margin-top: 10px;
}

.sublist {
  float: left;
  width:100%;
}

.options {
  width: 100%;
}

button {
  float: right;
}
