

  <mat-expansion-panel class="root" [style.backgroundColor]="getColor()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="material-icons" style="margin-top: 35px;">list</i>
  <h3>
    {{list.name}}
  </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>


    <div class = "options">
      <!-- <input type="color" [ngModel]="getColor()" (ngModelChange)="setColor($event)" /> -->
      <button class = "btnDel" (click)="setSortLabel()" mat-raised-button><i class="material-icons">replay</i> Trier A-Z</button>
      <button class = "btnDel" (click)="setSortDate()" mat-raised-button><i class="material-icons">replay</i> Trier par date</button>
      <button class = "btnDel" (click)="delete()" mat-raised-button><i class="material-icons">delete</i> Supprimer cette liste</button>
    </div>
  <!-- <form (ngSubmit)="createItem(newItemLabel.value, newItemDesc.value, date, pined); newItemLabel.value=''; newItemDesc.value='';">
    <label>Create a new item:</label>
    <input type="text" #newItemLabel/>
    <label>Entrez une description pour votre tache : </label>
    <input type="text" #newItemDesc/>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choisissez une date..." [(ngModel)]="date" name ="maDate" ngDefaultControl>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [(ngModel)]="date" name="maDate" ngDefaultControl></mat-datepicker>
    </mat-form-field>

    <mat-checkbox #PinedCheckBox
                  id="PinedCheckBox"
                  type="checkbox"
                  [checked]="pined"
                  (change)="onPinedCbChanged(PinedCheckBox.checked)" ></mat-checkbox>

    <button type="submit" mat-raised-button><i class="material-icons">send</i></button>
  </form>
 -->
    <app-sub-list *ngFor="let subList of subLists" [items]="getSortedItemsTyped(subList.type)" [listId]="this.list.id" [typeList]="subList.type"></app-sub-list>

  <app-task-modal [listId]="this.list.id"></app-task-modal>

  </mat-expansion-panel>
