<mat-list-item>
  <mat-checkbox #isChecked type="checkbox" [ngModel]="item.checked" (ngModelChange)="check(isChecked.checked)"></mat-checkbox>
  <label [ngStyle]="setStyle()" *ngIf="!isEditingLabel()" (dblclick)="editLabel(true)">
    <span class = "title">{{item.label}}</span>
    <br/>
    <span class = "desc">{{item.data.description}}</span>
    <br/>
    <span class = "date">{{item.data.date | date:'dd MMM, yyyy'}}</span>
  </label>
  <form *ngIf="isEditingLabel()" (submit)="setLabel(newLabel.value)">
    <mat-form-field>
    <input #newLabel type="text" matInput placeholder="Entrez le nom de votre tache ..." [value]="item.label"/>
    </mat-form-field>
  </form>
  <div style="float: right; display: inline-block">

    <button mat-raised-button (click)="togglePined()" *ngIf="!item.checked"><i class="material-icons">colorize</i> {{textPined()}}</button>
    <app-task-modal-modification [listId]="this.listId" [itemId]="this.item.id"></app-task-modal-modification>
    <button mat-raised-button (click)="delete()"><i class="material-icons">delete</i> Supprimer cette tâche</button>
  </div>
</mat-list-item>
