section.toBeUpdated {
  background-color: orangered;
}

form {
  display: inline;
}

mat-checkbox {
  padding: 1em;
}

.title {
  font-weight: bold;
}

.desc, .pined, .date {
  font-size: 14px;
}

label {
  word-break: break-all;
}

.item {
  padding:16px;
  width:240px;
  overflow: hidden;
  display: inline-block;
  margin: 5px;
  background-color: #DCDCDC;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.divbtn {
  float: right; display: inline-block; min-width: 45%
}

button {
 /* width: 190.5px;*/
  width: 32%;
  overflow: hidden;
}

.date:before{
  content : "today";
  font-family: "Material Icons";
  vertical-align: bottom;
}

mat-list-item.mat-list-item {
  margin-top: 25px !important;
}
