<mat-list-item>
  <mat-checkbox #isChecked type="checkbox" [ngModel]="item.checked" (ngModelChange)="check(isChecked.checked)"></mat-checkbox>
  <label *ngIf="!isEditingLabel()" (dblclick)="editLabel(true)">
    <span class = "title">{{item.label}}</span>
    <br/>
    <span class = "desc">{{item.data.description}}</span>
    <br/>
    <span class = "date">{{item.data.date | date:'dd MMM, yyyy'}}</span>
    <span class = "pined"> Pined : {{item.data.pined | json}}</span>
  </label>
  <form *ngIf="isEditingLabel()" (submit)="setLabel(newLabel.value)">
    <mat-form-field>
    <input #newLabel type="text" matInput placeholder="Entrez le nom de votre tache ..." [value]="item.label"/>
    </mat-form-field>
  </form>
  <div style="float: right; display: inline-block">
  <button mat-raised-button><i class="material-icons">colorize</i> Epingler cette tâche</button>
  <button mat-raised-button><i class="material-icons">create</i> Modifier cette tâche</button>
  <button mat-raised-button (click)="delete()"><i class="material-icons">delete</i> Supprimer cette tâche</button>
  </div>
</mat-list-item>
