<h1 mat-dialog-title>Modifier une tâche</h1>

<div mat-dialog-content>
  <div class="alert">{{getErrorMessage()}}</div>
  <form>
    <mat-form-field>
      <input matInput [value]="data.item.label" placeholder="Entrez le nom de votre tache ..." #newItemLabel>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput [value]="data.item.data.description" placeholder="Entrez la description de votre tache ..." #newItemDesc></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choisissez une date..." [(ngModel)]="date" name ="maDate" ngDefaultControl>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [(ngModel)]="date" name="maDate" ngDefaultControl></mat-datepicker>
    </mat-form-field>

    <p> Epinglé :
      <mat-checkbox #PinedCheckBox
                    id="PinedCheckBox"
                    type="checkbox"
                    [checked]="pined"
                    (change)="onPinedCbChanged(PinedCheckBox.checked)" ></mat-checkbox>
    </p>
    <p class = "btnAdd">
      <button type="submit" mat-raised-button (click)="updateItem(data.id, data.itemId, newItemLabel.value, newItemDesc.value, date.toString(), pined); newItemLabel.value=''; newItemDesc.value='';"><i class="material-icons">done</i></button>
    </p>
  </form>
  <div mat-dialog-actions>
    <button class = "btnAdd" mat-raised-button (click)="onNoClick()" tabindex="-1"><i class="material-icons">clear</i></button>
  </div>
</div>
